<ul>
 <li> Name: <%= @penpal.name %> </li>
 <li> Age: <%= @penpal.age %> </li>
 <li> Frequency: <%= @penpal.frequency %> </li>
 <li> "Interest".pluralize(@penpal.interests.count): <%= @penpal.interests.collect { |interest| interest.name }.join(", ") %> </li>
</ul>