<% unless @penpals.empty? %>

<p> Currently viewing: <%= @index_message %> </p>
<ul>
  <% @penpals.each do |penpal| %>
  <li> Letters sent to <%= link_to penpal.first_name, penpal_letters_url(penpal) %>:</li>
    <% letters = penpal.letters.where(user: current_user) %>
    <% letters.each do |letter| %>
    <li> <%= link_to letter.title, penpal_letter_url(penpal, letter) %> </li>
    <% end %>
  <% end %>
</ul>

<% else %>
  <p> <%= @empty_message %> </p>
<% end %>