<% unless @penpals.empty? %>

<p> Currently viewing: <%= @index_message %> </p>
<table>
  <% @penpals.each do |penpal| %>
  <tr><td id="t_penpal"> Letters sent to <%= link_to penpal.first_name, penpal_letters_url(penpal) %>:</td></tr>
    <% letters = penpal.letters.where(user: current_user) %>
    <% letters.each do |letter| %>
    <tr> <td id="t_letter"> <%= link_to "â— "+letter.title, penpal_letter_url(penpal, letter) %> </td></tr>
    <% end %>
  <% end %>
</table>

<% else %>
  <p> <%= @empty_message %> </p>
<% end %>