<p>By default, this page shows all letters you have sent. Please use the filter to specifcy a penpal.</p>

<% unless @penpals.empty? %>
  <ul>
  <% @penpals.each do |penpal| %>
  <li> Letters sent to <%= penpal.name %></li>
    <% penpal.letters.each do |letter| %>
    <li>Title: <%= link_to letter.title, penpal_letter_url(penpal, letter) %> </li>
    <% end %>
  <% end %>
  </ul>
<% else %>
  <p> <%= @empty_message %> </p>
<% end %>