<p>The following letter has been delivered to <%= @letter.penpal.name %> by Elder Pals:</p>

<div class="letter">
<p class="letter_left"><%= @letter.title %>:</p>
<p><%= @letter.message %></p>
<p class="letter_right"> — From <%= current_user.username %> </p>
</div>